* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
  }

:root {
    --font-color-black : #1E1E1E; 
    --font-color-white: #f8f8f8;
    --bg-color: #f8f8f8;
    --light-green: #4C4F34;
    --dark-green: #323423;
    --button-color: #3B3D29;
    --button-color-hover: #232518;
    --real100vh: 100vh;

}

body {
    background-color: var(--bg-color);
    background-image: url("../resources/home/backgrounds/topography40.webp");
    font-family: "Inter";
    font-weight: 700;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden !important;
    background-size: cover;
    background-position-x: center ;
    background-image: url("../resources/home/backgrounds/topography40.webp");
}



.navbar{
    z-index: 997;
    position: fixed;
    width: 100vw;
    height: 80px;
    background-color: var(--light-green);
    border-bottom: 5px solid var(--dark-green);

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("../resources/home/backgrounds/topography20.webp");
    background-position: center;
    background-clip: border-box;
    background-size: cover;
}

.navbar ul {
    width: 80%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul li{
    display: inline-block;
    width: 180px;
    border-radius: 50px;

    text-align: center;
    transition: background-color 0.3s linear;
}
.OpenSlider {
    display: none !important;
}

.navbar ul li:nth-child(n+3){
    background-color: var(--button-color);
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
}

.navbar ul li:nth-child(n+3):hover{
    background-color: var(--button-color-hover);
}

.navbar ul li a {
    text-decoration: none;
    font-size: 20px;
    color: var(--font-color-white);
    width: 100%;
    display: block;
    padding: 10px 0;

}

.navbar ul li a img{
    height: 70px;
}

.navbarhidden{
    position: fixed ;
    right: -100% ;
    top: 0px ;
    height: var(--real100vh) ;
    width: 70vw;
    background-color: rgba(76, 79, 52, .8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 10vh 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: right .20s linear;
    overflow-x: hidden;
    z-index: 999 !important;
}

.navbarhidden ul{
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.navbarhidden ul li{
    background-color: var(--button-color);
    width: 300px;
    padding: 15px 0px;
    border-radius: 50px;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
}

.navbarhidden ul li a {
    text-decoration: none;
    color: var(--font-color-white);
    font-size: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.button{
    background-color: var(--light-green);
    text-decoration: none;
    color: var(--bg-color);
    padding: 10px;
    font-size: 20px;
    border-radius: 30px;
    margin-bottom: 5vh;    

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.navigation{
    position: fixed;
    left: 5%;
    top: 150px;
}

.navigation li{
    background-color: var(--button-color);
    text-align: center;
    transition: background-color 0.5s linear;
    margin: 10px 0px;
    border-radius: 20px;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
}

.navigation li:hover{
    background-color: var(--button-color-hover);
}

.navigation a {
    color: var(--font-color-white);
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.text-box{
    width: 100vw;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.paragraph{
    padding: 0% 25%;
    margin-bottom: 7vh;
    width: 100%;
}

.paragraph h1{
    text-align: center;
    font-size: 64px;
}

.paragraph a{
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: var(--button-color);
    color: var(--font-color-white);
    transition: background-color 0.5s linear;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.5);
}

.paragraph a:hover{
    background-color: var(--button-color-hover);
}

.paragraph .link{
    margin-bottom: 5vh;
}

.paragraph h2{
    font-size: 24px;
    font-weight: 400;
    margin: 2vh 0;

}

.paragraph h2 span{
    font-weight: 600;
}

.paragraph ul {
    display: block;
    width: 100%;
}

.paragraph ul li{
    list-style: circle;
    text-indent: 1vw;
    padding: 0.5vh 0;
}

.paragraph .mapycz{
    padding: 5px 10px;
}

.images {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.images img {
    border-radius: 20px;
    width: 45%;
}











@media only screen and (max-width: 1900px){
    .navbar ul {
        width: 90%;
    }
}

@media only screen and (max-width: 1750px){
}

@media only screen and (max-width: 1700px){
    .navbar ul {
        width: 95%;
    }
}

@media only screen and (max-width: 1600px){
    .navbar ul li{
        width: 160px;
    }

    .navbar ul li a{
        font-size: 15px;
    }


}

@media only screen and (max-width: 1400px){
    .navbar ul li{
        width: 140px;
    }
}

@media only screen and (max-width: 1200px){
    .navbar ul {
        width: 98%;
    }
    .navbar ul li{
        width: 120px;
    }

    .navbar ul li:first-child{
        width: 70px;
    }

    .navbar ul li a{
        font-size: 15px;
    }
    .images img {
        width: 48%;
    }
    
}

@media only screen and (max-width: 1000px){
    .navbar ul {
        width: 98%;
    }
    .navbar ul li{
        width: 100px;
    }

    .navbar ul li a{
        font-size: 13px;
    }

    .navigation {
        display: none;
    }
    .paragraph{
        padding: 0 5%;
    }
    
}

@media only screen and (max-width: 950px){

}


@media only screen and (max-width: 800px){
    .navbar ul {
        width: 99%;
    }
    .navbar ul li{
        width: 90px;
    }

    .navbar ul li:first-child{
        width: 50px;
    }

    .navbar ul li a{
        font-size: 12px;
    }
    .paragraph{
        margin-bottom: 5vh;
    }

}

@media only screen and (max-width: 700px){
    .navbar ul li:nth-child(n+3){
        display: none;
    }
    .navbar ul li{
        width: 100px !important;
    }
    .OpenSlider {
        display: inline-block !important;
    }
    .paragraph h1{
        font-size: 50px;
    }
    .paragraph h2{
        font-size: 20px;
    }
    .images {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2vh;
    }
    .images img{
        width: 100%;
    }
}

@media only screen and (max-width: 500px){
    .navbarhidden {
        width: 100vw;
        height: var(--real100vh);
        padding: 2vh 0;
    }
    .paragraph h1{
        font-size: 40px;
    }
    .paragraph h2{
        font-size: 18px;
    }
    .paragraph{
        padding: 0 10%;
    }
    .paragraph a {
        font-size: 20px;
    }
    
}

@media only screen and (max-width: 400px){
    .paragraph h1{
        font-size: 25px;
    }
    .paragraph h2{
        font-size: 16px;
    }
    .paragraph a {
        font-size: 16px;
    }
    .paragraph .link{
        margin-top: 20px;
    }
    .paragraph{
        margin-bottom: 3vh;
    }
}

@media only screen and (max-width: 350px){

}